article {
    header {
        z-index: 198;
        h1 {
            margin: 0 0 30px 0;
            font-family: 'DNLTPro-medium';
            font-size: 36px;
            font-weight: 500;
            line-height: 48px;

            i {
                font-family: 'DNLTPro-medium-italic';
                font-style: normal;
            }
        }

        div.article-info {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
            font-family: 'DNLTPro-regular';
            font-size: 16px;
            color: $greyColor;

            .article-info-item {
                position: relative;
                margin: 0;
            }

            .article-info-item:not(:first-child) {
                margin-left: 20px;
            }

            .article-info-item:not(:first-child)::before {
                content: '•';
                position: absolute;
                top: 0;
                left: -16px;
            }

            a {
                color: $greenColor;
                text-decoration: none;
            }
        }
    }
}
/*
previewarticle {
    header {
        z-index: 198;
        h1 {
            margin: 0 0 30px 0;
            font-family: 'DNLTPro-medium';
            font-size: 24px;
            font-weight: 500;
            line-height: 48px;

            i {
                font-family: 'DNLTPro-medium-italic';
                font-style: normal;
            }
        }

        div.article-info {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
            font-family: 'DNLTPro-regular';
            font-size: 16px;
            color: $greyColor;

            p {
                position: relative;
                margin: 0;
            }

            p:not(:first-child) {
                margin-left: 20px;
            }

            p:not(:first-child)::before {
                content: '•';
                position: absolute;
                top: 0;
                left: -13px;
            }

            a {
                color: $greenColor;
                text-decoration: none;
            }
        }
    }
}
*/
