// Header Variables
// ----------------

$headerHeight: 180px;

// First section variables
//------------------------
$headerFirstSectionHeight: 80px;
$headerFirstSectionPaddingLR: 70px;
$headerFirstSectionMarginBetweenA: 30px;
$headerSeparatorHeight: 50px;

// Second section variables
// None - depends of first section and header variables
