// Import article content variables
// -------------------------------

@import 'variables';

// Scss rules
// ----------

section {
    width: auto;
    height: auto;
    margin: 0 0 31px;
    display: block;
    padding: 0;
    font-family: 'DroidSerif-regular';
    font-size: 16px;
    line-height: 30px;

    // Import accordion rules
    // ----------------------

    @import 'accordion';

    //section {
        //margin: 0 0 78px;
    //}

    h2 {
        position: relative;
        display: inline-block;
        font-family: 'DNLTPro-bold';
        font-size: 1.4rem;
        line-height: 1.2rem;
        color: $blackColor;
        margin: 0 0 20px;
        width:100%;

        input {
          border:none;
          background-color: transparent;
          width:90%;
        }
/*
        .textarea-autosize {
          padding-top: 20px;
          line-height: 25px;
          color: black;
          text-align-last: $textAlignLast;
          text-align: $textAlign;
          word-spacing: $textWordSpacing;
          //border:none;
          background-color: transparent;
          width: 90%;
        }
*/
    }

    h3 {
        position: relative;
        display: inline-block;
        font-family: 'DroidSerif-bold';
        font-weight: bold;
        font-size: 1.3rem;
        line-height: 2rem;
        color: $blackColor;
        margin: 0 0 13px;
    }

    h4 {
        position: relative;
        display: inline-block;
        font-family: 'DroidSerif-regular';
        font-weight: normal;
        font-size: 1.3rem;
        line-height: 2rem;
        color: $blackColor;
        margin: 0 0 13px;
    }

    u {
        text-decoration: underline;
    }

    ol {
        counter-reset: index;
        padding: 0 0 0 20px;
        margin: 0;

        li {
            position: relative;
            list-style-type: none;
            counter-increment: index;
            margin-bottom: 30px;
            font-family: 'DroidSerif-regular';
            font-size: 1rem;
            line-height: 1.2rem;
            font-weight: normal;
            color: $blackColor;
        }

        li::before {
            position: absolute;
            top: 0;
            left: -20px;
            content: counter(index) '.';
            margin-right: 13px;
            font-family: 'DNLTPro-bold';
            font-size: 1rem;
            font-weight: bold;
            line-height: 1.5rem;
        }
    }

    p {
        font-family: 'DroidSerif-regular';
        font-size: 1rem;
        line-height: 30px;
        color: black;
        margin: 0;
        text-indent: $textIdentation;
        text-align-last: $textAlignLast;
        text-align: $textAlign;
        word-spacing: $textWordSpacing;

        sup {
            vertical-align: super;
            font-size: 10px;
            color: $redColor;
        }
    }

    p + p {
        margin-top: 30px;
    }

    figure {
        box-sizing: border-box;
        width: auto;
        height: auto;
        border: solid 1px $headerFirstSectionLinkColor;
        margin: 72px 0 65px;

        figcaption {
            height: 48px;
            width: auto;
            background-color: $headerFirstSectionLinkColor;
            color: white;
            font-family: 'DNLTPro-bold';
            font-size: 24px;
            font-weight: bold;
            line-height: 48px;
            padding: 0 40px;
            margin: 0 0 30px;
        }

        div.figure {
            width: auto;
            height: auto;
            padding: 0 60px;
            margin: 0 0 30px;

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }

        p {
            font-family: 'DNLTPro-regular';
            font-size: 14px;
            font-weight: normal;
            line-height: 21px;
            text-indent: 0;
            text-align: justify;
            padding: 0 40px 20px;
        }
    }
}

section.abstract {
    margin: 0 0 48px;
    padding: 30px 24px 24px;
    background-color: greyBorderColor(0.05);
    border: 1px solid $abstractBorderColor;
}
