// Main Variables
// ----------------

// For Article page
$mainMarginTop: 40px;
$mainMarginBottom: 100px;
$mainFirstColumn: 20%;
$mainSecondColumn: 90%;

// For Main page
$mainPageMarginTop: 0px;
$mainPageFirstColumn: 100px;
$mainPageSecondColumn: 1000px;

// For explore page
$mainMarginTopExplore: 40px;
$mainFirstColumnExplore: 913px;
// $mainSecondColumnExplore: 527px;
