// Main Variables
// ----------------

// For Article page
$mainMarginTop: 80px;
$mainMarginBottom: 50px;
$mainFirstColumn: 330px;
$mainSecondColumn: 800px;

// For Main page
$mainPageMarginTop: 0px;
$mainPageFirstColumn: 100px;
$mainPageSecondColumn: 1000px;

// For explore page
$mainMarginTopExplore: 40px;
$mainFirstColumnExplore: 913px;
// $mainSecondColumnExplore: 527px;
