@import '../../_variable';
.login-main{
  text-align: center;
}
.bg {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 100%;
  background-image: url("../assets/images/login-bg-"+ random(7) +".jpg");
}

.login-main .login-wrapper {
  align-self: center;
  display: inline-block;
  //margin: 5% 0 0 0;
  padding: 6rem 5rem 2rem 5rem;
  background-color: rgba(240, 240, 240 , 1);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-wrapper > h1 {
  position: relative;
  margin: 0rem 0 1.5rem;
  text-align: center;
  font-size: 1.4rem;
  z-index: 1;
}
.login-wrapper .login-form {
  width: 16rem;
  margin: 0 auto;
  text-align: center;
  h2 {
    font-size: 0.8rem;
    color: $color-black;
    z-index: 1;
    margin: 0 0 1rem 0;
  }
  .register {
    margin: -1.5rem 0 2rem 0;
    text-align: right;
  }
  .register > a{
    color: $color-black;
    text-decoration: underline;
    font-size: 0.8rem;
    z-index: 1;
  }
}
.login-wrapper > form .el-input__inner {
  color: $color-black-exact-light;
  border-color: $color-silver-light;
  background-color: #fff;
}
.login-wrapper > form .el-input__inner:focus {
  color: $color-black;
  border-color: $color-black;
}
.login-wrapper .login-button {
  width: 100%;
  vertical-align: middle;
  font-weight: bolder;

  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;

}
.login-wrapper .login-icon {

  vertical-align: middle;
  font-weight: bolder;
  background: none;
  border-style: solid;
  border-width: 2px;
  border-color: #333333;
}
.login-wrapper .login-button.error {
  animation: shake 0.5s;
}

.login-wrapper  .login-form  hr {
	display: block;
	clear: both;
	height: 0;
	margin: 10px 0 10px;
	padding: 0;
	border: 0;
	font-family: arial;
	text-align: center;
	font-size: 1rem;
}
.login-wrapper  .login-form  hr:after {
	content: "\2756 \2756 \2756";
	height: 0;
	letter-spacing: 1em;
	color: #000;
}
