// Import aside variables
// ----------------------

@import 'variables';

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}

@-webkit-keyframes slideback {
    100% { right: -$asideRightWidth; }
}

@keyframes slideback {
    100% { right: -$asideRightWidth; }
}

// Scss rules
// ----------

aside.related {
    position: relative;
    display: block;
    margin: 300px 0 0;

    h4 {
        font-family: 'DNLTPro-medium';
        font-size: 36px;
        font-weight: 500;
        color: black;
        margin: 0;
        text-align: center;
    }

    section {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 57px 0px;

        a {
            text-decoration: none;

            article {
                position: relative;
                box-sizing: border-box;
                width: 280px;
                height: 270px;
                padding: 14px 20px;
                box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);

                header {
                    z-index: auto;
                    height: auto;

                    div.article-info {
                        font-size: 16px;
                    }

                    h1 {
                        margin: 10px 0 auto;
                        width: 100%;
                        @include text-overflow(24px, 30px, 2);
                    }

                }

                section.summary {
                    margin: 56px 0;

                    p {
                        font-family: 'DroidSerif-regular';
                        font-weight: 500;
                        font-style: normal;
                        color: $blackColor;
                        margin: 0 auto;
                        width: 100%;
                        hyphens: auto;
                        @include text-overflow(16px, 18px, 3);
                    }
                }

                section.counter {
                    position: absolute;
                    bottom: 18px;
                    left: 0;
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: flex-end;
                    height: auto;
                    width: 260px;
                    margin: 0;

                    span {
                        position: relative;
                        font-family: 'DNLTPro-regular';
                        font-size: 16px;
                        line-height: 13px;
                        font-style: normal;
                        font-weight: normal;
                        color: $greyColor;
                        height: 13px;
                        width: auto;
                        margin-left: 32px;
                    }

                    span::before {
                        position: absolute;
                        content: '';
                        top: 50%;
                        left: -20px;
                        width: 13px;
                        height: 13px;
                        background-repeat: no-repeat;
                        background-size: contain;
                        color: $greyColor;
                        transform: translateY(-75%);
                    }


                    .counter-comment::before {
                        /* serve this img cause fill / stroke probleme for another element with same SVG
                           ----------------------------------------------------------------------------- */
                        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"> <title> Comment </title> <path fill="none" stroke="#5c748d" d="M9.9355485 10.6V13l-2.112071-2.4H1.487265V1h10.5603544v9.6h-2.112071z"/> </svg>');
                    }

                    .counter-star::before {
                        background-image: url('/assets/images/icons/Star.svg');
                    }
                }
            }
        }
    }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/*
.aside-container{
  position: fixed;
  display: inline-block;
  right: 0;
  top: 40%;
  z-index: 1000;
}*/

.leftpanel{
  position: fixed;
  right: 0;
  top: 25%;
  height:100%;
  width: 54px;
  z-index: 1000;

  aside.comments-reviews {
      box-sizing: border-box;
      display: inline-block;
      //position: relative;
      height: 290px;

      background-color: $greenColor;
      color: white;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      // transform: translateY(-50%);
      padding-top: 20px;
      cursor: pointer;

      opacity: 1;
      animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 1s;

      p {
          position: relative;
          height: auto;
          transform: rotateZ(180deg);
          text-align: right;
          margin: 0;
          line-height: 54px;
          writing-mode: vertical-lr;

      }

      p::before {
          position: absolute;
          top: -30px;
          left: 50%;
          content: '';
          width: 20px;
          height: 20px;

          background: url('/static/icons/Book.svg') no-repeat;
          transform: rotateZ(-180deg) translateX(50%);
      }
  }
  aside.activity {
      box-sizing: border-box;
      display: inline-block;
      // position: relative;
      //  position: fixed;
      // right: 0;
      // top: 75%;
      height: 160px;

      background-color: #099EB0;
      color: white;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      //transform: translateY(-50%);
      padding-top: 20px;
      cursor: pointer;

      opacity: 1;
      animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 1s;

      p {
          position: relative;
          height: auto;
          transform: rotateZ(180deg);
          text-align: right;
          margin: 0;
          line-height: 54px;
          writing-mode: vertical-lr;

      }

      p::before {
          position: absolute;
          top: -30px;
          left: 50%;
          content: '';
          width: 25px;
          height: 25px;
          background: url('/static/icons/vectorpaint.svg');
          transform: rotateZ(-180deg) translateX(50%);
      }
  }
  aside.tabs-reference {
      box-sizing: border-box;
      //position: fixed;
      right: 0;
      z-index:-1;
      //top: 45%;
      height: 240px;
      width: 54px;
      background-color: $blueColor2;
      color: white;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      transform: translateY(-50%);
      padding-top: 20px;
      z-index: 205;
      cursor: pointer;

      opacity: 1;
      animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 1s;
      text-align: center;
      p {
          position: relative;
          height: auto;
          transform: rotateZ(180deg);
          text-align: right;
          margin: 0;
          line-height: 54px;
          writing-mode: vertical-lr;

      }

      p::before {
          position: absolute;
          top: -30px;
          left: 50%;
          content: '';
          width: 20px;
          height: 20px;

          transform: rotateZ(-180deg) translateX(50%);
      }
      .aside-icon{
        margin-top: 5px;
      }
  }
}

aside.content-activity{
  position: fixed;
  right: -$asideRightWidth;
  top: $headerHeight;
  width: $asideRightWidth;
  height: calc(100% - #{$headerHeight});
  z-index: 2000 !important;
  background-color: white;
  display: none;

  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 0s;

      div.wrapper {
          display: grid;
          grid-template-columns: $asideRightWidth;
          grid-template-rows: $asideRightHeaderHeight 1fr $asideRightFooterHeight;
          position: relative;
          width: 100%;
          height: 100%;
          box-shadow: 0 5px 15px 0 rgba(34, 34, 35, 0.15);
          margin: 0 ;
          padding: 0;

          header.wrapper {
              grid-row: 1;
              grid-column: 1;
              box-sizing: border-box;
              position: absolute;
              top: 0;
              left: 0;
              display: flex;
              flex-wrap: nowrap;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              height: $asideRightHeaderHeight;
              border-bottom: solid 1px greyBorderColor(0.3);
              margin: 0;
              padding: 0;

              a {
                  position: relative;
                  text-decoration: none;
                  display: block;
                  font-family: 'DNLTPro-regular';
                  font-size: 18px;
                  line-height: $asideRightHeaderHeight;
                  font-weight: 500;
                  width: 100%;
                  text-align: center;
                  color: $headerFirstSectionLinkColor;
                  margin: 0;

                  img,
                  svg,
                  svg path {
                      margin-right: 15px;
                      transform: translateY(1px);
                      fill: $headerFirstSectionLinkColor !important;
                  }

                  svg.reviews {
                      width: 20px;
                      height: 14px;
                  }

                  svg.comments {
                      width: 15px;
                      height: 15px;
                  }

                  svg.close-activity {
                      width: 14px;
                      height: 14px;
                  }
              }

              a.close-activity {
                  width: 10%;
                  margin-right: 15px;
                  text-align: left;
                  img,
                  svg,
                  svg path {
                      margin-right: 0;
                      transform: none;
                      fill: $headerFirstSectionLinkColor !important;
                      border: 0px solid white;
                  }
              }

              a.active,
              a:hover {
                  color: $blueColor;

                  img,
                  svg path {
                      fill: $blueColor !important;

                  }

                  &::after {
                      content: '';
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      width: 100%;
                      height: 2px;
                      background-color: $blueColor;

                  }
              }
          }

          section.content {
              grid-row: 2;
              grid-column: 1;
              box-sizing: border-box;
              width: 100%;
              height: auto;
              left: 0;
              overflow-y: scroll;
              overflow-x: hidden;
              padding: 20px 20px 0px 20px;
              background-color: $greyColor3;

              article {
                  box-sizing: border-box;
                  border-radius: 3px;
                  background-color: #ffffff;
                  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
                  padding: 10px;
                  width: 100%;
                  margin-bottom: 20px;
                  //overflow-x:scroll;
                  //max-height: 300px;


                  header {
                      height: 68px;
                      display: flex;
                      flex-direction: row;
                      flex-wrap: nowrap;
                      justify-content: space-between;
                      align-items: center;
                      width: auto;
                      margin: 0;
                      padding: 0 16px;

                      a {
                          text-decoration: none;
                          font-family: 'DNLTPro-regular';
                          font-size: 16px;
                          color: $blackColor;
                          line-height: 30px;

                          img {
                              box-sizing: border-box;
                              width: 30px;
                              height: 30px;
                              border-radius: 50%;
                              margin: 0 10px 0 0;
                              border: 1px solid white;
                              float: left;
                              z-index: 1;
                          }
                      }

                      svg.certified {
                          width: 14px;
                          height: 14px;
                          margin: 0 auto 0 16px;
                          object-fit: contain;
                      }

                      p {
                          font-size: 16px;
                          opacity: 0.8;
                      }

                      span.no-revision {
                        background-color: YellowGreen;
                        border-color: YellowGreen;
                        color:#333;
                        font-family:'Calibri-bold';
                      }
                      span.minor-revision {
                        background-color:orange;
                        border-color: orange;
                        color:#333;
                        font-family:'Calibri-bold';
                      }
                      span.major-revision {
                        background-color:red;
                        border-color: red;
                        color: #f3f3f3;
                        font-family:'Calibri-bold';
                      }
                      span.rejection {
                        background-color:black;
                        border-color: black;
                        color:#f3f3f3;
                        font-family:'Calibri-bold';
                      }
                      span.simple-comment {
                        background-color:rgba(176,196,222,0.8);
                        border-color: rgba(176,196,222,1);
                        color: #333;
                        font-family:'Calibri-bold';
                      }
                  }

                  section {
                      h2 {
                          font-family: 'DNLTPro-medium';
                          font-size: 21px;
                          font-style: normal;
                          font-weight: 500;
                          line-height: 31.5px;
                          color: black;
                          opacity: 0.6;
                          margin-left: 16px;
                      }

                      p {
                          font-family: 'Calibri-regular';
                          font-size: 1.1rem;
                          //line-height: 30px;
                          font-weight: normal;
                          padding: 0px 9px;
                          /*margin: 7px 0;*/
                      }
                  }

              }
          }
          .button-submit{
              font-family: 'Calibri-bold';
              font-size: 1rem;
          }
          section.comments {
              display: none;
          }

          section.reviews {
              display: block;
              overflow-wrap: break-word;

              p:hover {
                  background-color: greyBorderColor(0.3);
                  cursor: pointer;
              }
              footer.grid-header {
                display: grid;
                grid-template-columns: 250px;
                grid-template-rows: 60px;
                nav {
                    grid-column: 1;
                    grid-row: 1;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-end;
                    align-items: center;
                    height: $headerFirstSectionHeight;
                    padding: 5px 5px;

                    input{
                    box-sizing: border-box;
                    //box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
                    height: 30px;
                    width: 100%;
                    font-family: 'DNLTPro-bold';
                    font-size: 12px;
                    //font-weight: bold;
                    font-style: normal;
                    //line-height: 30px;
                    text-align: center;
                    padding: 5px 5px;
                    margin-right: 5px;
                    border: solid;
                    text-decoration: none;
                    margin-bottom: 10px;
                    background-color: white;
                    margin-bottom: 10px;
                    border-width: 1px;
                    border-radius: 7px;
                  }
                  input.btn-upvote{
                    color: greenColorRGBA(0.5);
                  }
                  input.btn-downvote{
                    color: redColorRGBA(0.5);
                  }
                  input.btn-upvote:hover{
                    color: greenColorRGBA(1);
                  }
                  input.btn-downvote:hover{
                    color: redColorRGBA(1);
                  }

                }/*
                img.reply {
                  grid-column: 2;
                  grid-row: 1;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: nowrap;
                  justify-content: flex-end;
                  align-items: center;
                  height: $headerFirstSectionHeight;
                  padding: 5px 5px;

                    box-sizing: border-box;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin: 0;
                    border: none;
                    float: right;
                    z-index: 1;
                    margin-bottom: 10px;
                }*/
              }
          }

          footer.menu-icon-footer{
            text-align: right;
            margin-top:5px;
          }
          footer.reply-footer{
            justify-content: center;
            font-family: 'DNLTPro-bold';
            align-items: center;
            vertical-align: middle;
            color:black;
            height:40px;
            margin:10px -10px -10px -10px;
            text-align:center;
            display: flex;
          }
          footer.minor-revision {
            background-color:rgba(230, 162, 60,0.3);
          }
          footer.simple-comment {
            background-color:rgba(176,196,222,0.3);
          }
          footer.no-revision {
            background-color: rgba(154, 205, 50, 0.3);
          }
          footer.major-revision {
            background-color:rgba(255,0,0,0.2);
          }
          footer.rejection {
            background-color:rgba(0,0,0,0.2);
          }

      }
}

aside.content-comments-reviews {
    position: fixed;
    right: -$asideRightWidth;
    top: $headerHeight;
    width: $asideRightWidth;
    height: calc(100% - #{$headerHeight});
    z-index: 2000!important;
    background-color: white;
    display: none;

    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 0s;

    div.wrapper {
        display: grid;
        grid-template-columns: $asideRightWidth;
        grid-template-rows: $asideRightHeaderHeight 1fr $asideRightFooterHeight;
        position: relative;
        width: 100%;
        height: 100%;
        box-shadow: 0 5px 15px 0 rgba(34, 34, 35, 0.15);
        margin: 0 ;
        padding: 0;

        header.wrapper {
            grid-row: 1;
            grid-column: 1;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: $asideRightHeaderHeight;
            border-bottom: solid 1px greyBorderColor(0.3);
            margin: 0;
            padding: 0;

            a {
                position: relative;
                text-decoration: none;
                display: block;
                font-family: 'DNLTPro-regular';
                font-size: 18px;
                line-height: $asideRightHeaderHeight;
                font-weight: 500;
                width: 45%;
                text-align: center;
                color: $headerFirstSectionLinkColor;
                margin: 0;

                img,
                svg,
                svg path {
                    margin-right: 15px;
                    transform: translateY(1px);
                    fill: $headerFirstSectionLinkColor !important;
                }

                svg.reviews {
                    width: 20px;
                    height: 14px;
                }

                svg.comments {
                    width: 15px;
                    height: 15px;
                }

                svg.close {
                    width: 14px;
                    height: 14px;
                }
            }

            a.close {
                width: 10%;
                margin-right: 15px;
                text-align: left;
                img,
                svg,
                svg path {
                    margin-right: 0;
                    transform: none;
                    fill: $headerFirstSectionLinkColor !important;
                    border: 0px solid white;
                }
            }

            a.active,
            a:hover {
                color: $blueColor;

                img,
                svg path {
                    fill: $blueColor !important;

                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $blueColor;

                }
            }
        }

        section.content {
            grid-row: 2;
            grid-column: 1;
            box-sizing: border-box;
            width: 100%;
            height: auto;
            left: 0;
            overflow-y: scroll;
            overflow-x: hidden;
            padding: 20px 20px 0px 20px;
            background-color: $greyColor3;

            article {
                box-sizing: border-box;
                border-radius: 3px;
                background-color: #ffffff;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
                padding: 10px;
                width: 100%;
                margin-bottom: 20px;
                //overflow-x:scroll;
                //max-height: 300px;


                header {
                    height: 68px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-items: center;
                    width: auto;
                    margin: 0;
                    padding: 0 16px;

                    a {
                        text-decoration: none;
                        font-family: 'DNLTPro-regular';
                        font-size: 16px;
                        color: $blackColor;
                        line-height: 30px;

                        img {
                            box-sizing: border-box;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            margin: 0 10px 0 0;
                            border: 1px solid white;
                            float: left;
                            z-index: 1;
                        }
                    }

                    svg.certified {
                        width: 14px;
                        height: 14px;
                        margin: 0 auto 0 16px;
                        object-fit: contain;
                    }

                    p {
                        font-size: 16px;
                        opacity: 0.8;
                    }

                    span.no-revision {
                      background-color: YellowGreen;
                      border-color: YellowGreen;
                      color:#333;
                      font-family:'Calibri-bold';
                    }
                    span.minor-revision {
                      background-color:orange;
                      border-color: orange;
                      color:#333;
                      font-family:'Calibri-bold';
                    }
                    span.major-revision {
                      background-color:red;
                      border-color: red;
                      color: #f3f3f3;
                      font-family:'Calibri-bold';
                    }
                    span.rejection {
                      background-color:black;
                      border-color: black;
                      color:#f3f3f3;
                      font-family:'Calibri-bold';
                    }
                    span.simple-comment {
                      background-color:rgba(176,196,222,0.8);
                      border-color: rgba(176,196,222,1);
                      color: #333;
                      font-family:'Calibri-bold';
                    }
                }

                section {
                    h2 {
                        font-family: 'DNLTPro-medium';
                        font-size: 21px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 31.5px;
                        color: black;
                        opacity: 0.6;
                        margin-left: 16px;
                    }

                    p {
                        font-family: 'Calibri-regular';
                        font-size: 1.1rem;
                        //line-height: 30px;
                        font-weight: normal;
                        padding: 0px 9px;
                        /*margin: 7px 0;*/
                    }
                }

            }
        }
        .button-submit{
            font-family: 'Calibri-bold';
            font-size: 1rem;
        }
        section.comments {
            display: none;
        }

        section.reviews {
            display: block;
            overflow-wrap: break-word;

            p:hover {
                background-color: greyBorderColor(0.3);
                cursor: pointer;
            }
            footer.grid-header {
              display: grid;
              grid-template-columns: 250px;
              grid-template-rows: 60px;
              nav {
                  grid-column: 1;
                  grid-row: 1;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: nowrap;
                  justify-content: flex-end;
                  align-items: center;
                  height: $headerFirstSectionHeight;
                  padding: 5px 5px;

                  input{
                  box-sizing: border-box;
                  //box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
                  height: 30px;
                  width: 100%;
                  font-family: 'DNLTPro-bold';
                  font-size: 12px;
                  //font-weight: bold;
                  font-style: normal;
                  //line-height: 30px;
                  text-align: center;
                  padding: 5px 5px;
                  margin-right: 5px;
                  border: solid;
                  text-decoration: none;
                  margin-bottom: 10px;
                  background-color: white;
                  margin-bottom: 10px;
                  border-width: 1px;
                  border-radius: 7px;
                }
                input.btn-upvote{
                  color: greenColorRGBA(0.5);
                }
                input.btn-downvote{
                  color: redColorRGBA(0.5);
                }
                input.btn-upvote:hover{
                  color: greenColorRGBA(1);
                }
                input.btn-downvote:hover{
                  color: redColorRGBA(1);
                }

              }/*
              img.reply {
                grid-column: 2;
                grid-row: 1;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-end;
                align-items: center;
                height: $headerFirstSectionHeight;
                padding: 5px 5px;

                  box-sizing: border-box;
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  margin: 0;
                  border: none;
                  float: right;
                  z-index: 1;
                  margin-bottom: 10px;
              }*/
            }
        }

        footer.menu-icon-footer{
          text-align: right;
          margin-top:5px;
        }
        footer.reply-footer{
          justify-content: center;
          font-family: 'DNLTPro-bold';
          align-items: center;
          vertical-align: middle;
          color:black;
          height:40px;
          margin:10px -10px -10px -10px;
          text-align:center;
          display: flex;
        }
        footer.minor-revision {
          background-color:rgba(230, 162, 60,0.3);
        }
        footer.simple-comment {
          background-color:rgba(176,196,222,0.3);
        }
        footer.no-revision {
          background-color: rgba(154, 205, 50, 0.3);
        }
        footer.major-revision {
          background-color:rgba(255,0,0,0.2);
        }
        footer.rejection {
          background-color:rgba(0,0,0,0.2);
        }

    }
}
