// Import aside article variables
// ----------------------
@import 'variables';

// Scss rules
// ----------

aside {
    display: block;
    width: auto;
    height: auto;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    margin: 88px 0 0 0;
    padding: 10px 20px;

    a {
        text-decoration: none;

        article {
            position: relative;

            header {
                margin: 0 56px 0 0;
                z-index: auto;

                div.article-info {
                    font-size: 14px;
                }

                h1 {
                    font-size: 24px;
                    line-height: 30px;
                    margin: 10px 0 0;
                }
            }

            div.nav-circle {
                box-sizing: border-box;
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 0;
                width: 45px;
                height: 45px;
                border: solid 2px $greyColor;
                border-radius: 50%;
                opacity: 0.5;
                transform: translateY(-50%);

                img {
                    position: relative;
                    top: 50%;
                    left: 50%;
                    object-fit: contain;
                    width: 15px;
                    height: 9px;
                    color: $greyColor;
                    transform: translateX(-50%) translateY(-100%) rotateZ(90deg);
                }
            }
        }
    }
}
