footer{
    padding:10px 10px 30px 0;
    border-top: 1px solid rgba(92, 115, 141, 0.15);
    margin-top: 25px;

  .section-footer-right{
    float: right;
    display: inline-block;

    input {
      opacity: 0.5;
      filter: alpha(opacity=50); /* For IE8 and earlier */
    }
    input:hover {
      opacity: 1;
      filter: alpha(opacity=100); /* For IE8 and earlier */
    }

  }


    .section-footer-left{
      // height:20px;
      // width:30px;
      .btn-group .insert-buttons {
        // text-align: center;
        display: inline-block;//block
          // display: block; /* Make the buttons appear below each other */
          margin: 0px 0px 0px 0px;
          -webkit-transform: translate(-60px,0);
          -ms-transform: translate(-60px,0px);
          transform: translate(-60px,0px);



        }
        .btn-group {
          #main-icon {
            display: inline-block;//block
             button{
              background-color: #00a459;
              color: white;
              border-color: transparent;
            }
          }
          #second-icon {
              opacity: 0;
              display: inline-block;
              -webkit-transition: opacity 3s ease-in-out;
              -moz-transition: opacity 3s ease-in-out;
              -ms-transition: opacity 3s ease-in-out;
              -o-transition: opacity 3s ease-in-out;
              transition: opacity 3s ease-in-out;
          }
        }

        .btn-group:hover {
          #main-icon {
            // display: block;
          }
          #second-icon {
              //display: block;
              opacity: 1;
              -webkit-transition: opacity 0.25s ease-in-out;
              -moz-transition: opacity 0.25s ease-in-out;
              -ms-transition: opacity 0.25s ease-in-out;
              -o-transition: opacity 0.25s ease-in-out;
              transition: opacity 0.25s ease-in-out;

          }
          /*
          #main-icon:hover~#second-icon{
              display: block;
          }
          #main-icon:active~#second-icon{
              display: block;
          }
          #second-icon {
              display: none;
          }*/
        }

      }
  }
