footer{
    padding:10px 10px 0px 0;
    border-top: 1px solid rgba(92, 115, 141, 0.15);
    margin-top: 12px;

  .section-footer-right{
    float: right;
    display: inline-block;

    input {
      opacity: 0.5;
      filter: alpha(opacity=50); /* For IE8 and earlier */
    }
    input:hover {
      opacity: 1;
      filter: alpha(opacity=100); /* For IE8 and earlier */
    }

  }
    .section-footer-left{
      text-align: left;
      display: inline-block;

      .insert-buttons {
        //float: left;
         color: greyBorderColor(0.5);
         background: #fff;
         width: 32px;
         height: 32px;
         box-sizing: border-box;
         border-radius: 50%;
         border: 1px solid greyBorderColor(0.5);
         line-height: 30px;
         text-align: center;
         padding: 0;
         font-size: 20px;
         -webkit-transform: translate(-60px,0px);
         -ms-transform: translate(-60px,0px);
         transform: translate(-60px,0px);
       }

       .insert-buttons:hover {
         color: greyBorderColor(0.8);
         border: 1px solid greyBorderColor(0.8);
       }

      .insert-buttons
         span {
           //display: block;
           margin-top: 0px;
         }
      }
  }
