@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';
@import './scss/main.scss';
@import './editor.scss';
@import "./_variable.scss";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}


.warn-content{
  background: rgba(66,185,131,.1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;
  a{
    color: #42b983;
    font-weight: 600;
  }
}

.nprogress-custom-parent #nprogress .spinner,
#nprogress .spinner {
  display: none;
}


.app-container {
  padding: 20px;
  font-family: sans-serif;
  

  .ui-data-table .toolbar {
    margin-bottom: 0.5rem;
  }
  .ui-data-table .toolbar .el-form-item {
    margin-bottom: 0;
  }
  .ui-data-table .data-table {
    position: relative;
    font-size: 0.75rem;
    border-left: none;
    border-right: none;
  }
  .ui-data-table .data-table .el-table::before {
    background: none;
  }
  .ui-data-table .data-table .actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ui-data-table .data-table .actions .el-tooltip {
    margin-left: 1rem;
  }
  .ui-data-table .data-table .actions .el-tooltip:first-child {
    margin-left: 0;
  }
  .ui-data-table .data-table .actions .el-tooltip .el-tooltip__rel {
    display: inline-block;
    line-height: 1rem;
  }
  .ui-data-table .data-table .actions .icon {
    margin-left: 0.5rem;
    line-height: 1rem;
    font-size: 1rem;
    color: $color-primary;
    cursor: pointer;
  }
  .ui-data-table .data-table .actions .icon:first-child {
    margin-left: 0;
  }
  .ui-data-table .data-table .actions .icon:hover {
    color: $color-primary-light;
  }
  @media (max-width: 64rem) {
    .ui-data-table .data-table .actions .el-tooltip {
      margin-left: 0.5rem;
    }
  }


  .ui-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    border-top: 1px solid $color-gray;
    background-color: #fff;
  }
  .ui-pagination .navs > a {
    float: left;
    width: 2rem;
    height: 1.75rem;
    line-height: 1.75rem;
    text-align: center;
    border-right: 1px solid $color-gray;
    background-color: $color-white;
    color: $color-black-exact-light;
    border: 1px solid $color-gray;
    border-right: none;
    cursor: pointer;
  }
  .ui-pagination .navs > a:last-child {
    border-right: 1px solid $color-gray;
  }
  .ui-pagination .navs > a[disabled] {
    color: $color-silver-exact-light;
    cursor: not-allowed;
    background-color: $color-gray-exact-light;
  }
  .ui-pagination .navs > a:hover {
    background-color: $color-primary;
    color: $color-white;
    border-color: $color-primary;
  }

}

.app-container .article-tag {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;

    a {
        width: auto;
        height: 30px;
        background-color: rgba(61, 72, 83, 0.5);
        text-decoration: none;
        padding: 0 15px;
        margin-bottom: 10px;
        transition: all 0.3s ease-out;

        h4 {
            font-family: 'DNLTPro-medium';
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            line-height: 30px;
            color: white;
            margin: 0;
            max-width: 15rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    a:hover {
        background-color: rgba(61, 72, 83, 0.8);
    }
    a:not(:last-child) {
        margin-right: 10px;
    }
}

.ck.ck-block-toolbar-button {
    transform: translateX( -10px );
}

.components-container-dashboard {
  margin: 30px 20px;
  position: relative;
}

.components-container-article {
  margin: 30px 50px;
  position: relative;
}

.components-container-journal {
  margin: 30px 20px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  .subtitle {
    font-size: 20px;
    color: #fff;
  }
  &.draft {
    background: #d0d0d0;
  }
  &.deleted {
    background: #d0d0d0;
  }
  &.rejected {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.editor-container{
  font-family: Katex;
  line-height: 1.6;
  font-size: 0.9rem;
}
